@import "../../../App.scss";
.logo-container {
  aspect-ratio: 300 / 550;
  max-height: 100%;
  opacity: 0;
  position: relative;
  width: clamp(22rem, 22vw, 48rem);
  z-index: 5;

  .solid-logo,
  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateZ(15deg) !important;
    transform-origin: center;
    width: 100%;
  }

  svg {
    z-index: 5;
  }

  .solid-logo {
    opacity: 0;
    object-fit: contain;
    z-index: 5;
  }
}

.svg-logo {
  width: 100px;
  stroke: #6d3d2a;
  stroke-width: 20px;
}
@media (max-width: 900px) {
  .logo-container {
    transform: translateY(-1rem);
    width: clamp(16rem, 46vw, 28rem);
  }
}

@media (max-width: 520px) {
  .logo-container {
    width: clamp(12.5rem, 50vw, 18rem);
  }
}
